@charset "utf-8";

/* トップページのスタイル*/

.page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
	height: 120px;
	@media screen and (max-width: 640px) {
		height: 70px;
	}
	color: $color-black;
	background-image: linear-gradient(100deg, #FF00F5 0%, #96A9EB 77%);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
	box-shadow: 0 2px 4px rgba(0,0,0,0.16);
	padding: 20px;
    @include display-flex;
    @include align-items-center;
	@include transition-all;
	
	.header-inner {
		@include flex-center-v;
		@include justify-content-space-between;
		@media screen and (max-width: 768px) {
			@include justify-content-center;
		}
		@include flex-wrap-wrap;
		width: 100%;

		.logo {
			display: flex;
			@include justify-content-center;
			width: 20%;
			align-items: center;
			flex-direction: row;
			color: $color-black;

			@media screen and (max-width: 1280px) {
				padding-left: 50px;	
			}
			@media screen and (max-width: 480px) {
				padding-left: 20px;	
			}

			img {
				height: 78px;
				width: 78px;
				@media screen and (max-width: 480px) {
					height: 40px;
					width: 40px;
				}
			}
		}
	
		.description {
			width: 80%;
			@include flex-center;
			@media screen and (max-width: 1280px) {
				padding-left: 60px;
				padding-right: 50px;
			}
			@media screen and (max-width: 768px) {
				display: none;
			}
			.buttons {
				margin-left: 20px;

				a {
    				background-color: #FF00FF;
					display: inline-block;
					width: auto;
					height: 3rem;
					line-height: 3rem;
					padding: 0 1.25rem;
					vertical-align: middle;
					font-family: 'B612 Mono', monospace;
					font-weight: 400;
					border-radius: 0rem;
					box-shadow: 0.217rem 0.125rem 0rem 0rem #b004a9;
					direction: var(--site-language-direction);
					overflow: hidden;
					text-overflow: ellipsis;
					transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
					color: white;

					&:hover {
						background-color: #000000 !important;
					}
				}
			}
		}
	}
}

.page-footer {
	background-image: linear-gradient(100deg, #FF00F5 0%, #96A9EB 77%);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
	box-shadow: 0 2px 4px rgba(0,0,0,0.16);
	position: absolute;
	bottom: 0px;
	width: 100%;

	.container {
		@media screen and (max-width: 1280px) {
	    	padding: 0 30px;
	    }
	}

	.footer-bottom {
		padding: 20px 0 24px;

		p {
			line-height: 2;

			&.copyright {
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				background: transparent;
				letter-spacing: 3px;
				color: $color-black;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.page-footer {
	    text-align: center;

	    .container {
		    padding: 0 97px;
		}

		.footer-bottom {
			text-align: left;
			padding: 50px 0 50px;

			p {
			    font-size: 24px;
			    line-height: 1.5;

			    &:not(:last-child) {
			    	margin: 20px 0;
			    }

			    span {
			    	display: block;
			    }

			    &.copyright {
				    font-size: 16px;
					@media screen and (max-width: 640px) {
						font-size: 3.5vw;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.page-footer {
		.container {
	    	padding: 0 30px;
	    }
	}
}