.label-switch {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.625rem;
  background-image: url($asset-base-path + "/img/darken-night-sky.png");
  background-position: center center;
  background-size: cover;

  .custom-switch-label {
    cursor: pointer;
    padding: 0 1em;
    border-radius: 0.625rem;
    user-select: none;
    height: 20px;
    z-index: 1;
  }

  .cover {
    position: absolute;
    display: block;
    box-sizing: content-box;
    border: #303030 solid 1px;
    border-radius: 0.625rem;
    background-image: url($asset-base-path + "/img/night-sky.png");
    background-position: center center;
    background-size: cover;
    transition: all 0.25s ease-in;
    cursor: pointer;
    height: 20px;
    z-index: 1;
  }
}
